<nav class="navbar" ng-controller="header as ctrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="#/">
                    MOCK QUIZ
                </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown btn" ui-sref="dashboard">
                    <a href="javascript:void(0);" role="button">
                            <span>DASHBOARD</span>
                        </a>
                </li>
                <li class="dropdown btn" ui-sref="quizlist" ng-show='role !== "participant"'>
                    <a href="javascript:void(0);" role="button">
                            <span>QUIZ</span>
                        </a>
                </li>
                <li class="dropdown btn" ui-sref="questionlist" ng-show='role !== "participant"'>
                    <a href="javascript:void(0);" role="button">
                            <span>QUESTION</span>
                        </a>
                </li>
                <li class="dropdown btn" ui-sref="myquiz">
                    <a href="javascript:void(0);" role="button">
                            <span>MY QUIZ</span>
                        </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                            <i class="material-icons">account_circle</i>
                        </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">person</i>Profile</a></li>
                        <li role="seperator" class="divider"></li>
                        <li ng-click="signOut()"><a class=" waves-effect waves-block"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>