<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li ng-class="url == '' ? 'active' : ''">
                    <a ui-sref="dashboard" class="waves-effect waves-block">
                            <i class="material-icons">home</i>
                            <span>Dashboard</span>
                        </a>
                </li>
                <li ng-class="url == '' ? 'active' : ''">
                    <a ui-sref="quizlist" class="waves-effect waves-block">
                            <i class="material-icons">library_add</i>
                            <span>Quiz</span>
                        </a>
                </li>
                <li ng-class="url == '' ? 'active' : ''">
                    <a ui-sref="questionlist" class="waves-effect waves-block">
                            <i class="material-icons">library_add</i>
                            <span>Questions</span>
                        </a>
                </li>
                <li ng-class="url == '' ? 'active' : ''">
                    <a ui-sref="myquiz" class="waves-effect waves-block">
                            <i class="material-icons">work</i>
                            <span>My Quiz</span>
                        </a>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2017 - 2018 <a href="javascript:void(0);">Mock Quiz</a>.
            </div>
            <div class="version">
                <b>Current Version: </b> 1.0.0
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>