<div class="signup-page" ng-controller="login as ctrl" ng-controller="login as ctrl" style="padding-left: none;max-width: none;margin: none;">
    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0"></div>
    <div class="signup-box col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="logo">
            <a href="javascript:void(0);">Mock<b>QUIZ</b></a>
            <small>Practice exams</small>
        </div>
        <div class="card">
            <div class="body">
                <div ng-include src="'template/signupform.html'"></div>
            </div>
        </div>
    </div>
</div>