<!-- <section class=""> -->
<div class="row clearfix" ng-controller="quiz as ctrl" style="background-color: white;height: -webkit-fill-available;width: 101%;overflow: auto;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- <div class="card" style="height: -webkit-fill-available;"> -->
        <!-- <div class="header noborder"> -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-10px">
                <button class="btn btn-default waves-effect pull-right" data-type="basic" ui-sref="dashboard">Exit</button>
            </div>
        </div>
        <!-- </div> -->
        <!-- <div class="body"> -->
        <div class="row clearfix js-sweetalert border-top-2px">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 padding-20px">
                <div class="row clearfix js-sweetalert">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!ctrl.isQuizStartMode">
                        <button class="btn waves-effect btn-primary pull-right margin-left-10px" data-type="basic" ng-click="ctrl.nextQuestion()" ng-show="!ctrl.isQuizStartMode">Next</button>
                        <button class="btn waves-effect pull-right btn-primary " data-type="basic" ng-click="ctrl.prevQuestion()" ng-show="!ctrl.isQuizStartMode">Prev</button>
                        <button class="btn waves-effect" data-type="basic" ui-sref="quizresult({id: ctrl.quizObj.id})">Back To Result</button>
                    </div>
                </div>
                <div class="row clearfix js-sweetaler">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-20px height-480">
                        <div ng-repeat="qlist in ctrl.quizObj.questionsForQuiz">
                            <div ng-if="ctrl.current_index === $index">
                                <p style="font-size: 20px;"><b>Q.{{$index+1}} | </b>{{qlist.title}}</p>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="opt in qlist.answersForQuestions">
                                    <div ng-disabled="!ctrl.isQuizStartMode" style="cursor: pointer;padding: 10px;font-weight: bold;font-size: 20px;" class="demo-radio-button">
                                        <input type="radio" ng-model="$parent.title" name="qlist.title" value="{{opt.title}}" required ng-checked="opt.isSelected" />
                                        <label ng-click="ctrl.checkButton(opt,$index,$parent.$index)" for="qlist.title" style="font-size: 20px;" ng-class="{'bg-green':!ctrl.isQuizStartMode && opt.isSelected,'bg-red':!ctrl.isQuizStartMode && opt.iscorrectanswer}">
                                            <b> {{$index+1}} ) {{opt.title}} </b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12" ng-show="!ctrl.isQuizStartMode && ctrl.current_index === $index">
                                <h3>EXPLANATION</h3>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12" ng-show="!ctrl.isQuizStartMode && ctrl.current_index === $index">
                                <div class="collapse in" id="collapseExplain" aria-controls="collapseExample" aria-expanded="true" style="height: 0px;">
                                    <div class="well" style="background-color: white;">
                                        {{qlist.explanation}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix js-sweetalert" ng-show="ctrl.isQuizStartMode">
                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12 padding-20px">
                        <button class="btn btn-warning waves-effect" data-type="basic" ng-click="ctrl.reviewQuestion()">Review</button>
                        <button class="btn btn-primary waves-effect pull-right" data-type="basic" ng-click="ctrl.nextQuestion()">Save & Next</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bg-light-grey">
                <div class="row clearfix js-sweetalert bg-green">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-aligncenter" ng-if="ctrl.timeLeft">
                        <h3 ng-show="ctrl.isQuizStartMode">Time Left : 
                                            <timer countdown="ctrl.timeLeft" max-time-unit="'minute'" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                        </h3>
                    </div>
                </div>
                <div class="row clearfix js-sweetalert">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-20px color-white height-450">
                        <span ng-repeat="qlist in ctrl.quizObj.questionsForQuiz" class="icon-button-demo">
<button class="btn waves-effect" ng-class="{'bg-red':ctrl.current_index === $index,'bg-light-green':ctrl.selectedIndexs.indexOf($index) > -1 && ctrl.current_index !== $index,'bg-default':ctrl.selectedIndexs.indexOf($index)=== -1 &&ctrl.current_index !== $index,'bg-deep-orange':qlist.isReview}" ng-click="ctrl.currentQuestion($index)"><b>{{$index+1}}</b></button>
                                    </span>
                    </div>
                </div>
                <div class="row clearfix js-sweetalert">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-left-30px">
                        <button type="button" class="btn bg-grey waves-effect"></button>
                        <b>Unanswerd</b>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button type="button" class="btn bg-light-green waves-effect"></button>
                        <b>Answerd</b>
                    </div>
                </div>
                <div class="row clearfix js-sweetalert">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-left-30px">
                        <button type="button" class="btn bg-red waves-effect"></button>
                        <b>Selected</b>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button type="button" class="btn bg-deep-orange waves-effect"></button>
                        <b>Review</b>
                    </div>
                </div>
                <div class="row clearfix js-sweetalert" ng-show="ctrl.isQuizStartMode">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-20px">
                        <button class="btn btn-success waves-effect" data-type="basic" ng-click="ctrl.checkQuizStat()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>
    <div ng-include src="'template/quiz/modals/quizstatmodal.html'"></div>
    <div ng-include src="'template/quiz/modals/lastquesmodal.html'"></div>
    <div ng-include src="'template/quiz/modals/quizsubmit.html'"></div>
    <div ng-include src="'template/quiz/modals/credit.html'"></div>
</div>
<!-- </section> -->