<section class="content" ng-controller="quizlist as ctrl">
    <div class="container-fluid">
        <div class="block-header">
            <h2>My Quiz</h2>
        </div>
        <!-- Widgets -->
        <div class="row clearfix">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" ng-repeat="item in ctrl.quizlistArray">
                <div class="card">
                    <div class="header bg-default no-padding">
                        <img src="/image/quiz.jpg" style="width: 100%;">
                    </div>
                    <div class="body">
                        <h4>
                                <div ng-bind-html="item.title"></div>
                            </h4>
                        <div class="row">
                            <div class="col-md-12 card-text">
                                <div ng-bind-html="item.description"></div>
                            </div>
                        </div>
                        <div class="row light-text">
                            <div class="col-md-12">
                                <i class="material-icons">schedule</i> <span class="icon-name position-abs margin-left-10px">{{item.totaltime}} minutes</span>
                            </div>
                        </div>
                        <div class="row light-text">
                            <div class="col-md-12">
                                <span>{{item.quizsMap.length}} questions</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn waves-effect btn-danger btn-block pull-right" ui-sref="learnquiz({id: item.id})">Take Quiz</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>