    .card-footer {
        padding: 20px 15px 0px 15px;
        border-top: 1px solid rgba(204, 204, 204, .35)
    }

    .height-450 {
        min-height: 440px !important;
        overflow: auto;
        height: 440px;
    }

    .height-480 {
        min-height: 500px !important;
        overflow: auto;
    }

    .border-right-2px {
        border-right: 1px solid;
    }

    .border-top-2px {
        border-top: 3px solid grey !important;
    }

    .card-footer-align {
        bottom: 0px;
        position: absolute;
    }

    .padding-20px {
        padding: 30px !important;
    }

    .padding-left-30px {
        padding-left: 30px;
    }

    .no-padding {
        padding: 0px !important;
    }

    .margin-10px {
        margin: 10px !important;
    }

    .color-green {
        font-weight: bold;
        color: green !important;
    }

    .color-white {
        font-weight: bold;
        color: white !important;
    }

    .color-red {
        color: red !important;
        font-weight: bold;
    }

    .margin-left-10px {
        margin-left: 10px !important;
    }

    .padding-10px {
        padding: 15px !important;
    }

    .text-align-center {
        text-align: center !important
    }

    .noborder {
        border: 0px !important;
    }

    .bg-light-grey {
        background-color: #f4f4f6;
    }

    .light-text {
        font-size: 14px;
        color: #465163;
        font-weight: bold;
    }

    .card-text {
        text-overflow: ellipsis;
        word-wrap: break-word;
        min-height: 40px;
        height: 40px;
        overflow: hidden;
    }

    .position-abs {
        position: absolute;
    }

    .text-aligncenter {
        text-align: center;
    }

    .quizquestionlist>.ui-grid-contents-wrapper>.ui-grid-pinned-container>.left {

        display: none !important
    }

    .quizquestionlist>.ui-grid-contents-wrapper>.ui-grid-render-container {
        margin-left: 0px !important;
    }

    .quizquestionlist>.ui-grid-contents-wrapper>.ui-grid-render-container>.ui-grid-viewport {

        width: 100.2% !important;
    }
    /*.quizquestionlist>.ui-grid-contents-wrapper>.ui-grid-render-container>.ui-grid-viewport>.ui-grid-canvas>.ui-grid-row {

        height: auto !important;
    }*/

    .quizquestionlist .ui-grid-viewport .ui-grid-cell-contents {
        word-wrap: break-word;
        white-space: normal !important;
    }

    .quizquestionlist .ui-grid-row,
    .ui-grid-cell {
        height: auto !important;
    }

    .quizquestionlist .ui-grid-row div[role=row] {
        display: flex;
        align-content: stretch;
    }

    .masterquestionlist .ui-grid-row div[role=row] {
        display: flex;
        align-content: stretch;
    }

    .masterquestionlist .ui-grid-row,
    .ui-grid-cell {
        height: auto !important;
    }

    section.content {
        margin: 100px 0 0 0 !important;
    }

    .navbar-nav>li>a:hover {
        color: aqua;
    }