<div class="modal fade in" id="creditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Credits</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-align-center">
                        <h2><i class="material-icons">warning</i> Are You Sure</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-align-center">
                        This Explanation required one credit
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" ng-click="ctrl.getExplanation()">YES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>