<div class="modal fade in" id="quizStatModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-aligncenter">
            <div class="modal-header">
                <h2 class="" id="defaultModalLabel">Quiz Summary</h2>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-3"><b>Completed</b></div>
                    <div class="col-md-3"><b>Incompleted</b></div>
                    <div class="col-md-3"><b>Total Question</b></div>
                    <div class="col-md-3"><b>Reviewed</b></div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">{{ctrl.totalanswerdquestion}}</div>
                    <div class="col-md-3">{{ctrl.totalunanswerdquestion}}</div>
                    <div class="col-md-3">{{ctrl.totalscore}}</div>
                    <div class="col-md-3">{{ctrl.mytotalreviewed}}</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="alert alert-danger col-md-12">
                            Before you submit this make sure that you have attented all questions.
                            <br>
                            <strong>Are you sure again?</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" ng-click="ctrl.submitQuiz()">SUBMIT</button>
                <button type="button" class="btn btn-grey waves-effect" data-dismiss="modal">GO BACK</button>
            </div>
        </div>
    </div>
</div>