<div class="modal fade in" id="quizStatModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Quiz Summary</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-3">Completed</div>
                    <div class="col-md-3">Incompleted</div>
                    <div class="col-md-3">Total Question</div>
                    <div class="col-md-3">Reviewd</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">{{ctrl.totalanswerdquestion}}</div>
                    <div class="col-md-3">{{ctrl.totalunanswerdquestion}}</div>
                    <div class="col-md-3">{{ctrl.totalscore}}</div>
                    <div class="col-md-3">{{ctrl.mytotalreviewed}}</div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="alert alert-danger col-md-12">
                            <strong>Oh snap!</strong> Change a few things up and try submitting again.
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" ng-click="ctrl.submitQuiz()">SUBMIT</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>