<div class="modal fade in" id="quizSubmit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-aligncenter">
            <div class="modal-body">
                <div class="row form-group">
                    <h2>Submitted Successfully!</h2>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">Redirecting To Result</div>
                </div>
            </div>
            <!--  <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" ng-click="ctrl.popSubmitAfterLast()">SUBMIT</button>
                <button type="button" class="btn btn-grey waves-effect" data-dismiss="modal">CANCLE</button>
            </div> -->
        </div>
    </div>
</div>